<ion-view title="Search">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input" name="query">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Let me see">
            </label>
        </form>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-item>Item 4</ion-item>
            <ion-item>Item 5</ion-item>
            <ion-item>Item 6</ion-item>
        </ion-list>
    </ion-content>
</ion-view>